### EDA 
### Exploratory Data Analysis

- To Explore the data and find the insights
- To find the missing values
- It is just like smell of data, feel the aroma of data

In [28]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### 1. Import Dataset

In [29]:
# data import 
df =sns.load_dataset('titanic')

### 2. Data Types, Information and Missing values

In [30]:
df.dtypes

survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

In [31]:
df.info()
# this shows we have null values in age and deck, count is less

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [32]:
# check for null values, we have 177 null values in age and 687 null values in deck and 2 null values in embarked
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [33]:
# Find percentage of null values
age_null = 177/891
age_null

0.19865319865319866

In [34]:
percent_missing = df. isnull(). sum() * 100 / len(df)
percent_missing

survived        0.000000
pclass          0.000000
sex             0.000000
age            19.865320
sibsp           0.000000
parch           0.000000
fare            0.000000
embarked        0.224467
class           0.000000
who             0.000000
adult_male      0.000000
deck           77.216611
embark_town     0.224467
alive           0.000000
alone           0.000000
dtype: float64

In [35]:
df2 = df

- embark, embarktown (remove these rows)
- Remove deck column because missing values are greater than 75%
- For age column, we can fill the missing values with mean or median or mode(in case of categorical data) [This whole process means impute the data]
-

In [36]:
print(df['age'].min())
print(df['age'].max())

0.42
80.0
29.69911764705882

In [39]:
print(df['age'].mean())
print(df['age'].median())
print(df['age'].mode())

29.69911764705882
28.0
0    24.0
Name: age, dtype: float64

In [23]:
df2['age'].fillna(df['age'].mean(), inplace=True)

In [37]:
df3 = df2 
df3.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [38]:
df4 = df3
# This si both data wrangling and exploratory data analysis

In [41]:
# For categorical variables, we have no mean, we have occurence, so we use mode(maximum occurences in data)
df4['embarked'].fillna(df['embarked'].mode()[0], inplace=True)
df4['embark_town'].fillna(df['embark_town'].mode()[0], inplace=True)

In [43]:
print("mean = ", df['age'].mean())
print("median = ", df['age'].median())
print("mode = ", df['age'].mode())

mean =  29.69911764705882
median =  28.0
mode =  0    24.0
Name: age, dtype: float64

# Steps: Data Wrangling (EDA)
1. Import the libraries
2. Import the dataset
3. explore the dataset
   1. Information
   2. Data types
   3. Missing values
   4. Take sense of your data
4. Understanding variables
5. Relationsship between the variable (Heatmap, pairplot, correlation)
6. Brainstorming
   1. Normalization (Bring 2 fish together for comparison) 80 become 0.8, 0.4 become 0.04
   2. Remove the outliers (boxplot, boxenplot, violinplot)
7. Tidy data, clean data
8. Ready for statistical Analysis
9. Ready for predictive analysis
10. Ready for machine learning
11. Ready fro DL (Good data is necessary for ML, DL and statistical analysis)

In [ ]:
# Machine learning imputations
# When any data is missing in a row. and we find that data with the help of other data in a row. with the help of interaction of rows. that is machine learning